<div class="container">

<div class="page-header" style="margin-top:-20px;">
  <h1>Portfolio</h1>
</div>
</br>

<div class="row text-center vcenter" id="filters">
  <div class="col col-md-1"><p class="lead" style="font-size:18px;">Status:</p></div>
  <div class="col col-md-2">
    <select class="form-control" id="select-status">
      <option value="">All</option>
      <option value="">Open</option>
      <option value="">Sold</option>
    </select>
  </div>
  <div class="col col-md-1"><p class="lead" style="font-size:18px;">Stock:</p></div>
  <div class="col col-md-2">
    <select class="form-control" id="select-ticker">
      <option value="all">All</option>
      <% stocks_in_portfolio.uniq.each do |stock| %>
        <option value='<%= stock.id %>'><%= stock.ticker %></option>
      <% end %>
    </select>
  </div>
  <div class="col col-md-1"><p class="lead" style="font-size:18px;">Span:</p></div>
  <div class="col col-md-2">
    <input type="number" class="form-control" id="select-max-span" min="0">
  </div>
  <div class="col col-md-1"><p class="lead" style="font-size:18px;">From:</p></div>
  <div class="col col-md-2">
    <input type="date" value="<%= Date.parse("2015-01-01").strftime("%Y-%m-%d") %>" class="form-control" id="select-expired-date">
  </div>
</div>
<br>

<div class="panel panel-primary">
  <div class="panel-heading"><%= current_portfolio.name.capitalize %></div>

    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>stock</th>
            <th>qty</th>
            <th>$_bought</th>
            <th>$_current</th>
            <th>amount</th>
            <th>p/l</th>
            <th>result</th>
            <th>bought_at</th>
            <th>sold_at</th>
            <th>days_open</th>
        </tr>
      </thead>
      <tbody></tbody>

    </table>
  </div>
</div>

<div class="row">

  <div class="col col-md-5 col-md-offset-1">
    <div class="panel panel-success">
      <div id="buy-stock-header" class="panel-heading"><i class="glyphicon glyphicon-plus"></i> Buy stock</div>
      <div id="buy-stock-form" style="display:none"><%= erb :"partials/_buy" %></div>
    </div>
  </div>

  <div class="col col-md-5">
    <div class="panel panel-danger">
      <div id="sell-stock-header" class="panel-heading"><i class="glyphicon glyphicon-remove"></i> Sell stock</div>
      <div id="sell-stock-form" style="display:none"><%= erb :"partials/_sell" %></div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col col-md-5 col-md-offset-1">
    <div class="panel panel-info">
      <div id="twitter-analysis-header" class="panel-heading"><i class="glyphicon glyphicon-cloud "></i> Twitter Analysis (-100 to +100)</div>
      <div id="twitter-analysis" style="display:none"><%= erb :"partials/_twitter" %></div>
    </div>
  </div>

  <div class="col col-md-5">
    <div class="panel panel-warning">
      <div id="news-box-header" class="panel-heading"><i class="glyphicon glyphicon-align-justify"></i> Fresh news</div>
      <div id="news-box" style="display:none"><%= erb :"partials/_news" %></div>
    </div>
  </div>

</div>

  <div class="col col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1>Comparison</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 col-md-offset-2">
      <div id="vis">
      </div>
    </div>
  </div>

</div>



